button {
    width: 200px;
    margin-left: 30px;
    display: inline-block;
    background-color: #8C19D2;
    color: white
}

button:hover {
    background-color: #008080;
    color: white;
}

input {
    width: 400px;
    display: inline-block;
}

input:focus {
    border-color:  #8C19D2;
    box-shadow: 0 0 0 0;
}

h1 {
    font-size: 80px;
    font-weight: 400;
    padding-left: 100px;
    margin-bottom: 50px;
} 
