<div style="height: 650px;">
    <div class="d-flex justify-content-center" style="padding: 200px 200px">
    <form>
        <div class="form-group">
            <h1>Serch D_ev</h1>
            <input type="text" [formControl]="usernameControl" class="form-control" style="width: 400px;display: inline-block;">
            <button type="button" class="btn btn-purple" 
                style="display: inline-block;background-color: #8C19D2; color: white"
                (click)="onSearch()"
            >
            search
            </button> 
        </div>
    </form>
</div>
</div>
