h3 {
    display: inline-block; margin-right: 100px;
}

input {
    width: 590px;
    display: inline-block;

}

a {
    text-decoration: none;
    color: black
}

input:focus {
    border-color:  #8C19D2;
    box-shadow: 0 0 0 0;
}

.avatar-img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

div.circle-divider {
    margin: 0 8px 0 8px;
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: black; 
    border-radius: 100%;
}

div.repo-list {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
}

