<div style="padding: 20px 150px 20px 150px;">
    <div class="d-flex justify-content-left">
    <form>
        <div class="form-group">
            <h3 style="display: inline-block; margin-right: 100px;">Serach D_ev</h3>
            <input type="text" class="form-control" style="width: 400px; display: inline-block;">
        </div>
    </form>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>nome e foto</p>
            <p>descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas consectetur lorem, in fermentum odio vehicula dictum. Vivamus cursus semper elit eget ornare. In hac habitasse platea dictumst. Maecenas tristique faucibus eros ac sagittis. Cras eget mi ac orci blandit varius. Curabitur sed rhoncus mi. Nunc facilisis est tristique, facilisis velit vel, elementum velit.</p>
            <p>seguidores</p>
            <p>seguindo</p>
            <p>trabalho</p>
            <p>endereco</p>
            <p>email</p>
            <p>site</p>
            <p>twitter</p>
        </div>
        <div class="col-md-9">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas consectetur lorem, in fermentum odio vehicula dictum. Vivamus cursus semper elit eget ornare. In hac habitasse platea dictumst. Maecenas tristique faucibus eros ac sagittis. Cras eget mi ac orci blandit varius. Curabitur sed rhoncus mi. Nunc facilisis est tristique, facilisis velit vel, elementum velit. Etiam a massa congue, ullamcorper est eget, viverra lectus. Phasellus a convallis enim, nec tempus tortor. Nunc porta posuere tortor sed dictum.

            Praesent quis mauris rhoncus urna imperdiet pretium. Proin convallis, nisl a luctus varius, purus augue egestas dolor, at egestas dui neque nec lorem. Nam feugiat consequat eleifend. Vivamus semper laoreet convallis. Sed mollis at erat vel semper. Etiam mollis tempor convallis. Nunc cursus neque sem, at malesuada neque mattis nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam iaculis ligula libero, at egestas tellus accumsan ac. Aenean gravida lorem at nisl feugiat porttitor in vel tortor. Vestibulum porttitor pretium egestas. Donec eget sem eget magna maximus condimentum sit amet nec sapien. Proin porttitor vitae elit id tempus.
            
            Mauris a maximus nulla. Vivamus nec massa vitae ligula interdum tempus sodales ac nibh. In neque risus, malesuada et tincidunt in, iaculis ac ante. Nulla facilisi. Aliquam at sodales metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse a lacus non urna tempus venenatis. Nullam a gravida turpis. Nullam finibus ornare aliquam. 
        </div>
    </div>
</div>