<div style="padding: 20px 150px 20px 150px;">
    <div class="d-flex justify-content-left">
    
        <div class="form-group">
            <h3><span style="color: #0069CA">Serch</span><span style="color: #8C19D2"> D_evs</span></h3>
            <input 
                type="text" 
                [formControl]="searchBoxControl"
                (keyup.enter)="search()"
                class="form-control" 
                style="width: 400px; display: inline-block;"
            >
        </div>
    
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-3">
            <img *ngIf="perfil?.avatar_url" class="avatar-img" [src]="perfil?.avatar_url" width="48" height="48" alt="">
            <span style="margin-left: 10px; font-size: 1.2em; font-weight: bold;">{{perfil?.login}}</span>   
            <p>{{perfil?.bio}}</p>
            <p *ngIf="perfil?.followers"><img src="assets/people.svg" class="icon" alt="">{{perfil?.followers}} seguidores</p>
            <p *ngIf="perfil?.followers"><img src="assets/heart.svg" class="icon" alt="">{{perfil?.following}} seguindo</p>
            <p *ngIf="perfil?.company"><img src="assets/building.svg" class="icon" alt="">{{perfil?.company}}</p>
            <p *ngIf="perfil?.location"><img src="assets/location-pin.svg" class="icon" alt="">{{perfil?.location}}</p>
            <p *ngIf="perfil?.email"><img src="assets/email.svg" class="icon" alt="">{{perfil?.email}}</p>
            <p *ngIf="perfil?.blog"><img src="assets/link.svg" class="icon" alt="">{{perfil?.blog}}</p>
            <p *ngIf="perfil?.twitter_username"><img src="assets/twitter.svg" class="icon" alt="">{{perfil?.twitter_username}}</p>
        </div>
        <div class="col-md-9">
            <div *ngFor="let repo of repos">
                <p>{{repo.name}}</p>
                <p>{{repo.description}}</p>
                <p>stars: {{repo.stargazers_count}}</p>
                <p>{{lastUpdated(repo)}}</p>
            </div>            
        </div>
    </div>
</div>